
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face{
font-family: "botter-zero-zero";
src: url("C:\Users\hp\Desktop\bik\Font\booter-zero-zero\BOOTERZZ.ttf") format("ttf");
font-weight: normal;
font-style:normal;
}



* {
	box-sizing: border-box;
	font-family: Raleway;	
}

html, body{
	margin:0;
	padding:0;
}

.nav ul{
	margin:0;
}

.nav li{
	display:inline;
}
.nav a{
	display:inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;
}


.nav a:hover{
	background-color: rgba(255, 255, 255, .3)
}

.main-nav{
	text-align: center;
	font-size:1.5em;
	font-weight: lighter;
	border-bottom:1px solid rgba(255, 255, 255, .3);
}
.main-nav li{
	padding:0 5%;
}

.main-header{
			 background-color: rgb(8, 0, 0);
			 padding-bottom:30px;
			 background-image: url("Images/background.jpg");
			 background-blend-mode: multiply;
			 background-size: cover;	 
}

.band-name{
		text-align: center;
		margin: 0;
		font-size:4em;
		font-family: "Booter - Zero Zero"
		font-weight:normal;
		color: white;
}
.band-name-large{
	font-size: 8em;
}

.content-section{
	margin: 1em;
}

.container{
	max-width: 900px;
	margin: 0 auto;
	padding:0 1.5em;
}
.section-header{
	font-family: "Metal Mania";
	font-weight: normal;	
	color: .333;
	text-align: center;
	font-size:2.5em;
}
.nav li{
	display:inline;
}

.about-band-image{
	float:left;
	height: 200px;
	width: 250px;
	margin:15px;
	border-radius: 50%;
}
.main-footer{
	background-color: green;
	color:white;
	padding: .25em 0;
	align-content: center;
}

.main-footer-container{
	display:flex;
	align-items:right;
}
.main-footer-container ul{
	flex-grow:1;
	text-align: left;
}
.footer-nav li{
	padding:0 .5em;
	align-items: right;
}
.footer-nav img{
	width: 40px;
	height: 40px;
}
.copyright{
		text-align:right;
		
}
.btn {
	text-align: center;
	vertical-align: middle;
	padding: .67em;
	cursor:pointer;

}
.btn-header{
	margin: .5em 15% 2em 15%;
	color: white;
	border: 2px solid .2D9CDB;
	background-color: rgba(255, 255, 255, .1);
	border-radius: 0;
	font-size:1.5em;
	font-weight: lighter;
	padding-right: 2em;
	padding-left: 2em;
}

.btn-header:hover {
	background-color: rgba(255, 255, 255, .3);

}
.btn-play{
	display: black;
	margin:10 
	right;
	color: blue;
	font-size: 4em;
	border-radius: 50%;
	padding: 0;
	width:100px;
	height: 100px;
	align-self: center;
}


body{
	background-color: rgba(100, 300, 0, .5);
	height:750px;
	



